.button{
    display: flex;
width: 375px;
height: 50px;
border-radius: 44px;
background: #00A4AA;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 1px 2px -1px rgba(0, 0, 0, 0.10);
justify-content: center;
align-items: center;

}
.buttontext{
color: #FFF;
text-align: center;
    font-family: 'Poppins', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
