.nav{
    width: 415px;
height: 88px;
background: #FFF;
display: flex;
justify-content: space-evenly;
align-items: center;
position: fixed;
z-index: 100;
   /* margin-top: 720px; */
}
.circle{
    display: flex;
    width: 50px;
height: 49px;
justify-content: center;
align-items: center;

border-radius: 24.503px;
background: linear-gradient(132deg, #00A4AA -4.93%, #004244 106.71%);
box-shadow: 0 19.143px 38.29px -9.189px rgba(0, 167, 172, 0.50);
width: 55px;
    height: 55px;
    justify-content: center;
    align-items: center;
    border-radius: 54.503px;
}
.nav-cont{
      position: absolute;
    display: flex;
    width: 415px;
    /* justify-content: flex-end; */
    /* justify-content: end; */
    align-items: end;
    /* align-items: baseline; */
    height: 830px;
    /* background: red; */
}

.nav-icon {
  filter: none;
  transition: filter 0.2s;
}

.nav-icon.active {
  filter: invert(47%) sepia(99%) saturate(400%) hue-rotate(140deg) brightness(90%);
}
.remicon{
      margin-top: 5px;
}