.inputwtext{
    display: flex;
    align-items: center;
    gap: 12px;
}
.pills{
    color: #000;
font-family: poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
margin: 0;
text-align: center;
}
.inputsmallerwidth{
    width: 56px;
    display: flex;
width: 56px;
height: 29px;
padding-left: 10px;
justify-content: center;
align-items: center;
border-radius: 4px;
border: 0.667px solid #E5E7EB;
}
.inputtile{
    color: #36404D;
font-family: poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 111.111% */
}
.hauto{
    height: auto;
    padding: 20px 0px;
}
.opadding{
      padding: 50px 0px 110px 0px;
        height: auto;
}
.titlewinputbutton{
    display: flex;
    display: flex;
height: 49.333px;
align-items: center;
gap: 81px;
border-radius: 14px;
border: 0.667px solid #E5E7EB;
    width: 335px;
   justify-content: space-around;
}
.optiontext{
    color: #000;
font-family: poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
}

.lw{
    width: 335px;

}
.toggle-title{
    color: #36404D;
font-family: poppins;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 111.111% */
/* margin: 0; */
}
.toggle-desc{
    color: rgba(54, 64, 77, 0.80);
font-family: poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
width: 293px;
margin: 0;
}
.togglecard{
    display: flex;
height: auto;
    padding: 8px 0px 22px 0px;
flex-direction: column;
    align-items: center;
    justify-content: center;

border-radius: 14px;
border: 0.667px solid #E5E7EB;
background: #FFF;
}
.titlewtogbutton{
    display: flex;
    align-items: center;
        width: 293px;
        justify-content: space-between;
}
.w295{
        width: 295px;
}
.conf{
    color: #36404da0;
font-family: poppins;
font-size: 14px;
font-style: normal;
font-weight: 200;
line-height: 20px; /* 142.857% */
width: 290px;
}
.f14{
        font-size: 14px;
}
.gap26{
    gap: 26px
}